body {
  background-color: #f3f1f0;
}

/* Style the navigation menu */

.navbar{
  background-color:#c5c4b2;
  margin-bottom: 20px;
}
.navbar a{
  color:rgb(22, 22, 22)
}
#navbarDropdownMenuLink{
  color:rgb(255, 255, 255);
}

/* quality nails */
h2 {
  font-size: 50px;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.col-lg-6 img {
  height: 500px;
  width: 800px;
}

/* Cards */

.col-12 h1 {
  padding-bottom: 20px;
}

.card {
  background-color: #d2beb0;
  color: rgb(82, 80, 80);
  border-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 600px;
}
.btn {
  background-color: #d2beb0;
  color: rgb(82, 80, 80);
  border-color: white;
}
.btn:hover {
  background-color: #c54786;
  color: white;
}
.card-title {
  font-weight: bolder;
}
/* Footer */
footer{
background-color: #555548;
margin-top: 20px;
color: white;
}

footer img {
  height: 70px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
  .card img {
    height:300px;
    width: auto;
  }
  /*Page Header for products*/
  .page-header{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  /* Product page carousel*/
  .product-carousel img{
    height:450px;
  }
  /*shape button*/
  .fun {
    width: 100%;
    margin-bottom: 2rem;
    height:1in;
    background-color:#D2Beb0;
    color:rgb(83, 65, 42);
  }
/* Style inputs */
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-inline: 478px;
  width: 4in;
}
input[type=password], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-inline: 478px;
  width: 4in;
}

input[type=submit] {
  width: 15%;
  background-color: #da906e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-inline: 572px;
}

input[type=submit]:hover {
  background-color: #a06945;
}

div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label{
  background-color:rgb(56, 48, 48);
  color:white;
  width: 2in;
  height:.3in;
  border-radius: 4px;
  text-align: center;
  font-family: Cambria;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 10px;
} 
.signupForm {
  text-align: center;
  background-color: #79796780;
  background-size: 300px 100px;
}
.signupTitle h2{
text-align: center;
font-family: Garamond;
}
