/* Style the navigation menu */
.navbar{
  background-color:#c0dbbf;
}
.navbar a{
  color:rgb(22, 22, 22)
}
#navbarDropdownMenuLink{
  color:white;
}

.card img {
  height:400px;
  width: auto;
}
/* Footer */
footer{
background-color: rgba(62, 97, 63, 0.753);
}

footer img {
  height: 70px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}